<!DOCTYPE html>
<html>

  {% include "includes/head.twig" %}

  <body id="page-top" class="index">

    {% include "includes/navbar.twig" %}

	 {% if url_param('autoindex', 'boolean') %} 
   	 {% include "includes/autoindex.twig" %}
	 {% elseif url_param('post', 'boolean') %} 
		 {% include "wp.twig" %}
    {% else %}
    	 {% include "includes/header.twig" %}
   	 {% include "includes/portfolio.twig" %}
	 {% endif %}

    {% if 'about' not in pages.index.meta.disable %}{% include "includes/about.twig" %}{% endif %}

    {% if 'contact' not in pages.index.meta.disable %}{% include "includes/contact.twig" %}{% endif %}

    {% if 'footer' not in pages.index.meta.disable %}{% include "includes/footer.twig" %}{% endif %}

    {% include "includes/modals.twig" %}

    {% include "includes/javascript.twig" %}

  </body>

</html>
